body {
    background-color: #000;
    /* Set the background color of the main window to black */
}

.thumbnailMenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.thumbnailMenu img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnail {
    display: flex;
    width: 400px;
    height: 200px;
    background-color: #000;
    border: 2px solid #fff;
    margin: 20px;
    align-items: center;
    justify-content: center;

}