body {
    background-color: #000; /* Set the background color of the main window to black */
}

.thumbnailMenu {
    display: grid; /* Enable grid for the container */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; /* Space between rectangles */
}

.thumbnail {
    width: 300px;           /* Set the width of the rectangle */
    height: 150px;          /* Set the height of the rectangle */
    background-color: #000; /* Set the background color */
    border: 2px solid #fff; /* Optional: Add a border */
    margin: 20px;          /* Optional: Add some space around the rectangle */
}