body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

#pongCanvas {
    border: 1px solid #fff;
    background-color: #000;
}

#scoreboard {
    display: flex;
    margin-bottom: 10px;
    font-size: 60px;
    color: white;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    /* define 3 rows with specific heights */
}